.bg-dark {
  padding: 10px 50px !important;
}

/* .admin-link {
  color: #138799 !important;
  text-decoration: none !important;
  padding: 10px;
}
.admin-link:hover {
  color: white !important;
} */

ul {
  list-style: none;
}

.app-link {
  text-decoration: none !important;
  color: white !important;
  margin: 10px;
}

.app-link:hover {
  color: #17a2b8 !important;
}

.active-link {
  color: rgb(199, 110, 8) !important;
}
